## Recover and extend Table 3 "Population Density Comparisons" in Journal of Official Statistics submission

The `from mobitic_utils.metrics import get_summary_metrics` function recomputes all the metrics but can take a long time to run. In this notebook we perform examples of direct SQL queries computing a selection of metrics.

In [1]:
# Install package utils
import sys
!{sys.executable} -m pip install --user -q -q -e ../

In [2]:
from mobitic_utils.metrics import get_metrics_from_all_tables

In [3]:
#var_list = ['pop_day','pop_night','dev_day','dev_night','jrc_day','jrc_night']
var_list = ['dev_day','dev_night','dev_act_day','dev_act_night']
ref = 'residents'

In [4]:
import pandas as pd
res0 = pd.concat([get_metrics_from_all_tables('CORR(%s, %s)' % (var, ref ), "cor") for var in var_list])

In [5]:
res0[~res0['value'].isna()].groupby('query').agg({'value':'mean'})

                                   value
query
CORR(dev_act_day, residents)    0.447777
CORR(dev_act_night, residents)  0.733304
CORR(dev_day, residents)        0.459743
CORR(dev_night, residents)      0.736631

In [6]:
res0 = pd.concat([get_metrics_from_all_tables('CORR(%s, %s)' % ('dev_act_day', 'jrc_day'), "cor"),
                 get_metrics_from_all_tables('CORR(%s, %s)' % ('dev_act_night', 'jrc_night'), "cor") ,
                 get_metrics_from_all_tables('CORR(%s, %s)' % ('dev_day', 'jrc_day'), "cor"),
                 get_metrics_from_all_tables('CORR(%s, %s)' % ('dev_night', 'jrc_night'), "cor")])

In [7]:
res0[~res0['value'].isna()].groupby('query').agg({'value':'mean'})

                                   value
query
CORR(dev_act_day, jrc_day)      0.655428
CORR(dev_act_night, jrc_night)  0.776745
CORR(dev_day, jrc_day)          0.661619
CORR(dev_night, jrc_night)      0.780459

In [9]:
res1 = pd.concat([pd.concat([get_metrics_from_all_tables('CORR(%s, %s)' % (var, ref ), "cor") for var in var_list]),
                 get_metrics_from_all_tables('CORR(%s, %s)' % ('pop_day', 'jrc_day'), "cor"),
                 get_metrics_from_all_tables('CORR(%s, %s)' % ('pop_night', 'jrc_night'), "cor") ,
                 get_metrics_from_all_tables('CORR(%s, %s)' % ('dev_day', 'jrc_day'), "cor"),
                 get_metrics_from_all_tables('CORR(%s, %s)' % ('dev_night', 'jrc_night'), "cor")])

In [10]:
res1[~res1['value'].isna()].groupby('query').agg({'value':'mean'})

                               value
query
CORR(dev_day, jrc_day)      0.655428
CORR(dev_day, residents)    0.447777
CORR(dev_night, jrc_night)  0.776745
CORR(dev_night, residents)  0.733304
CORR(jrc_day, residents)    0.771521
CORR(jrc_night, residents)  0.783469
CORR(pop_day, jrc_day)      0.750993
CORR(pop_day, residents)    0.556938
CORR(pop_night, jrc_night)  0.865395
CORR(pop_night, residents)  0.825004

In [11]:
res2 = pd.concat([pd.concat([get_metrics_from_all_tables('CORR(Rank_%s, Rank_%s)' % (var, ref ), "cor") for var in var_list]),
                 get_metrics_from_all_tables('CORR(Rank_%s, Rank_%s)' % ('pop_day', 'jrc_day'), "cor"),
                 get_metrics_from_all_tables('CORR(Rank_%s, Rank_%s)' % ('pop_night', 'jrc_night'), "cor") ,
                 get_metrics_from_all_tables('CORR(Rank_%s, Rank_%s)' % ('dev_day', 'jrc_day'), "cor"),
                 get_metrics_from_all_tables('CORR(Rank_%s, Rank_%s)' % ('dev_night', 'jrc_night'), "cor")])

In [12]:
res2[~res2['value'].isna()].groupby('query').agg({'value':'mean'})

                                         value
query
CORR(Rank_dev_day, Rank_jrc_day)      0.890089
CORR(Rank_dev_day, Rank_residents)    0.728959
CORR(Rank_dev_night, Rank_jrc_night)  0.876966
CORR(Rank_dev_night, Rank_residents)  0.753370
CORR(Rank_jrc_day, Rank_residents)    0.782752
CORR(Rank_jrc_night, Rank_residents)  0.812802
CORR(Rank_pop_day, Rank_jrc_day)      0.892727
CORR(Rank_pop_day, Rank_residents)    0.731698
CORR(Rank_pop_night, Rank_jrc_night)  0.879460
CORR(Rank_pop_night, Rank_residents)  0.751359

In [9]:
var_list = ['dev_day','dev_night']
res2 = pd.concat([pd.concat([get_metrics_from_all_tables('CORR(Rank_%s, Rank_%s)' % (var, ref ), "cor") for var in var_list]),
                 get_metrics_from_all_tables('CORR(Rank_%s, Rank_%s)' % ('dev_day', 'jrc_day'), "cor"),
                 get_metrics_from_all_tables('CORR(Rank_%s, Rank_%s)' % ('dev_night', 'jrc_night'), "cor")])

In [10]:
res2[~res2['value'].isna()].groupby('query').agg({'value':'mean'})

                                         value
query
CORR(Rank_dev_day, Rank_jrc_day)      0.889703
CORR(Rank_dev_day, Rank_residents)    0.730397
CORR(Rank_dev_night, Rank_jrc_night)  0.879421
CORR(Rank_dev_night, Rank_residents)  0.756600

In [18]:
res3 = pd.concat([
        pd.concat([get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % (var, ref ,ref ), "alloc_accuracy") for var in var_list]),
        get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % ('pop_day', 'jrc_day' ,'jrc_day' ), "alloc_accuracy"),
        get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % ('pop_night', 'jrc_night','jrc_night' ), "alloc_accuracy"),
        get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % ('dev_day', 'jrc_day' ,'jrc_day' ), "alloc_accuracy"),
        get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % ('dev_night', 'jrc_night','jrc_night' ), "alloc_accuracy")
    ]
    )

In [19]:
res3[~res3['value'].isna()].groupby('query').agg({'value':'mean'})

                                                       value
query
1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)        0.665180
1-0.5*SUM(ABS(dev_day-residents))/SUM(residents)    0.478187
1-0.5*SUM(ABS(dev_night-jrc_night))/SUM(jrc_night)  0.727685
1-0.5*SUM(ABS(dev_night-residents))/SUM(residents)  0.690401
1-0.5*SUM(ABS(jrc_day-residents))/SUM(residents)    0.664169
1-0.5*SUM(ABS(jrc_night-residents))/SUM(residents)  0.713430
1-0.5*SUM(ABS(pop_day-jrc_day))/SUM(jrc_day)        0.738880
1-0.5*SUM(ABS(pop_day-residents))/SUM(residents)    0.574438
1-0.5*SUM(ABS(pop_night-jrc_night))/SUM(jrc_night)  0.786629
1-0.5*SUM(ABS(pop_night-residents))/SUM(residents)  0.740920

In [22]:
res3[res3['query']=='1-0.5*SUM(ABS(pop_day-residents))/SUM(residents)']

      value  day  week                                             query
0  0.577345    0    12  1-0.5*SUM(ABS(pop_day-residents))/SUM(residents)
1  0.567482    1    12  1-0.5*SUM(ABS(pop_day-residents))/SUM(residents)
2  0.574217    2    12  1-0.5*SUM(ABS(pop_day-residents))/SUM(residents)
3  0.566016    3    12  1-0.5*SUM(ABS(pop_day-residents))/SUM(residents)
4  0.587131    4    12  1-0.5*SUM(ABS(pop_day-residents))/SUM(residents)
5       NaN    0    13  1-0.5*SUM(ABS(pop_day-residents))/SUM(residents)
6       NaN    1    13  1-0.5*SUM(ABS(pop_day-residents))/SUM(residents)
7       NaN    2    13  1-0.5*SUM(ABS(pop_day-residents))/SUM(residents)
8       NaN    3    13  1-0.5*SUM(ABS(pop_day-residents))/SUM(residents)
9       NaN    4    13  1-0.5*SUM(ABS(pop_day-residents))/SUM(residents)

In [11]:
var_list = ['dev_day','dev_night','dev_act_day','dev_act_night']
res3 = pd.concat([
        pd.concat([get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % (var, ref ,ref ), "alloc_accuracy") for var in var_list]),
        get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % ('dev_act_day', 'jrc_day' ,'jrc_day' ), "alloc_accuracy"),
        get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % ('dev_act_night', 'jrc_night','jrc_night' ), "alloc_accuracy"),
        get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % ('dev_day', 'jrc_day' ,'jrc_day' ), "alloc_accuracy"),
        get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % ('dev_night', 'jrc_night','jrc_night' ), "alloc_accuracy")
    ]
    )

In [12]:
res3[~res3['value'].isna()].groupby('query').agg({'value':'mean'})

                                                       value
query
1-0.5*SUM(ABS(dev_act_day-jrc_day))/SUM(jrc_day)    0.665180
1-0.5*SUM(ABS(dev_act_day-residents))/SUM(resid...  0.478187
1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jrc...  0.727685
1-0.5*SUM(ABS(dev_act_night-residents))/SUM(res...  0.690401
1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)        0.678017
1-0.5*SUM(ABS(dev_day-residents))/SUM(residents)    0.509417
1-0.5*SUM(ABS(dev_night-jrc_night))/SUM(jrc_night)  0.729315
1-0.5*SUM(ABS(dev_night-residents))/SUM(residents)  0.691927

# Comparaison par aire d'attraction des villes

In [2]:
from mobitic_utils.metrics import get_metrics

In [3]:
# Dynamic population against filosofi resident
metrics_by_aav = get_metrics()

In [4]:
metrics_by_aav[metrics_by_aav['date'].apply(lambda x : x.hour == 3) & metrics_by_aav['date'].apply(lambda x : x.day in [18,19,20,21,22]) ].groupby('segmentation')['correlation'].mean()

segmentation
Aire de 200 000 à moins de 700 000 habitants      0.855788
Aire de 50 000 à moins de 200 000 habitants       0.808311
Aire de 700 000 habitants ou plus (hors Paris)    0.808245
Aire de Paris                                     0.768429
Aire de moins de 50 000 habitants                 0.730117
Commune hors attraction des pôles                 0.618442
Name: correlation, dtype: float64

In [6]:
metrics_by_aav[metrics_by_aav['date'].apply(lambda x : x.hour == 15)  & metrics_by_aav['date'].apply(lambda x : x.day in [18,19,20,21,22]) ].groupby('segmentation')['correlation'].mean()

segmentation
Aire de 200 000 à moins de 700 000 habitants      0.737267
Aire de 50 000 à moins de 200 000 habitants       0.757514
Aire de 700 000 habitants ou plus (hors Paris)    0.615830
Aire de Paris                                     0.421254
Aire de moins de 50 000 habitants                 0.693597
Commune hors attraction des pôles                 0.583159
Name: correlation, dtype: float64

In [2]:
# Dynamic population against ENACT JRC
from mobitic_utils.metrics import get_metrics_JRC
metrics_by_aav_jrc = get_metrics_JRC()

In [5]:
metrics_by_aav_jrc.groupby('area_attraction').agg({'correlation_D':'mean', 'correlation_N':'mean','correlation_D_JRC_RES': 'mean', 'correlation_N_JRC_RES':'mean'})

,correlation_D,correlation_N,correlation_D_JRC_RES,correlation_N_JRC_RES
area_attraction,,,,
Aire de 200 000 à moins de 700 000 habitants,0.761884,0.831877,0.772025,0.791468
Aire de 50 000 à moins de 200 000 habitants,0.698785,0.757179,0.745757,0.788223
Aire de 700 000 habitants ou plus (hors Paris),0.757899,0.844577,0.747093,0.770211
Aire de Paris,0.701002,0.811709,0.692481,0.704702
Aire de moins de 50 000 habitants,0.654754,0.703880,0.713963,0.730041
Commune hors attraction des pôles,0.522461,0.592837,0.686625,0.740465

# Direct SQL queries

In [2]:
from mobitic_utils.db import engine
with engine.connect() as connection:
        res = connection.execute("SELECT SUM(p.population) FROM filosofi p").fetchall()

In [3]:
res

[(208389710.01586914,)]

In [18]:
query = """WITH data as (SELECT p.%s as pop_night,
			  		p.%s as pop_day,
                    d.%s*(SELECT SUM(p.filosofi*ST_AREA(g.geometry)) FROM total_population p, grille g WHERE p."x-y"=g."x-y" AND p.week=%d)/(SELECT SUM(d.%s*ST_AREA(g.geometry)) FROM active_devices d, grille g WHERE d."x-y"=g."x-y" AND d.week=%d)  as dev_night,
                    d.%s*(SELECT SUM(p.filosofi*ST_AREA(g.geometry)) FROM total_population p, grille g WHERE p."x-y"=g."x-y" AND p.week=%d)/(SELECT SUM(d.%s*ST_AREA(g.geometry)) FROM active_devices d, grille g WHERE d."x-y"=g."x-y" AND d.week=%d) as dev_day,
                    jd.population as jrc_day,
                    jn.population as jrc_night,
					COALESCE(p.filosofi,0) as residents
			  FROM total_population p, active_devices d, jrc jd, jrc jn
                WHERE p.week=%d AND jd.day_night='D' AND jn.day_night='N'
                AND jn.month=%d AND jd.month= %d
                AND d.week=%d
                AND p."x-y"=jd."x-y" 
                AND p."x-y"=d."x-y" 
			    AND jd."x-y"=jn."x-y"
                )
        SELECT 	
                %s	
            FROM data """

    query_metrics = '1-0.5*SUM(ABS(%s-%s))/SUM(%s)'
    l = []
    hour_day = 15
    hour_night = 3
    month_jrc = 3
    with engine.connect() as connection:
        for week in range(12, 14):
            for day in range(0, 5):  # Only Working Days.
                    res = connection.execute(
                        query % (f'"{day}-{hour_night}"', 
                                f'"{day}-{hour_day}"', 
                                 f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                week,
                                week,
                                month_jrc,
                                month_jrc,
                                week,
                                query_metrics % ('dev_night', 'residents','residents'))
                    ).fetchall()
                    l += [list(x) + [day] + [week] + [query_metrics] for x in res]

res = pd.DataFrame(
        l,
        columns = [
            "value",
            "day",
            "week",
            "query"
        ]
    )

In [19]:
res[~res['value'].isna()].agg({"value":"mean"})

value    0.690401
dtype: float64

In [49]:
query = """WITH data as (SELECT d.%s*(SELECT SUM(p.filosofi*ST_AREA(g.geometry)) FROM total_population p, grille g WHERE p."x-y"=g."x-y" AND p.week=%d)/(SELECT SUM(d.%s*ST_AREA(g.geometry)) FROM active_devices d, grille g WHERE d."x-y"=g."x-y" AND d.week=%d)  as dev_night,
                    d.%s*(SELECT SUM(p.filosofi*ST_AREA(g.geometry)) FROM total_population p, grille g WHERE p."x-y"=g."x-y" AND p.week=%d)/(SELECT SUM(d.%s*ST_AREA(g.geometry)) FROM active_devices d, grille g WHERE d."x-y"=g."x-y" AND d.week=%d) as dev_day,
                    jd.population as jrc_day,
                    jn.population as jrc_night,
					COALESCE(p.filosofi,0) as residents,
                    ROW_NUMBER() OVER (ORDER BY d.%s DESC) AS Rank_dev_night,
			  		ROW_NUMBER() OVER (ORDER BY d.%s DESC) AS Rank_dev_day,
			  		ROW_NUMBER() OVER (ORDER BY COALESCE(p.filosofi,0) DESC) AS Rank_residents,
			  		ROW_NUMBER() OVER (ORDER BY jd.population DESC) AS Rank_jrc_day,
			  		ROW_NUMBER() OVER (ORDER BY jn.population DESC) AS Rank_jrc_night
			  FROM total_population p, active_devices d, jrc jd, jrc jn
                WHERE p.week=%d AND jd.day_night='D' AND jn.day_night='N'
                AND jn.month=%d AND jd.month= %d
                AND d.week=%d
                AND p."x-y"=jd."x-y" 
                AND p."x-y"=d."x-y" 
			    AND jd."x-y"=jn."x-y"
                )
        SELECT 	
                %s	
            FROM data """

query_metrics = 'CORR(%s,%s)'
l = []
hour_day = 15
hour_night = 3
month_jrc = 3
with engine.connect() as connection:
        for week in range(12, 14):
            for day in range(0, 5):  # Only Working Days.
                    res = connection.execute(
                        query % (f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                week,
                                 f'"{day}-{hour_night}"',
                                f'"{day}-{hour_day}"',  
                                week,
                                month_jrc,
                                month_jrc,
                                week,
                                query_metrics % ('dev_day', 'jrc_day'))
                    ).fetchall()
                    l += [list(x) + [day] + [week] + [query_metrics] for x in res]

res = pd.DataFrame(
        l,
        columns = [
            "value",
            "day",
            "week",
            "query"
        ]
    )

In [50]:
res[~res['value'].isna()].agg({"value":"mean"})

value    0.655428
dtype: float64

Question: l'interpolation a-t-elle aussi si peu d'effet suivant le type d'aire urbaine?

In [24]:
query = """WITH data as (SELECT p.%s as pop_night,
			  		p.%s as pop_day,
                    ad.%s*(SELECT SUM(p.filosofi*ST_AREA(g.geometry)) FROM total_population p, grille g WHERE p."x-y"=g."x-y" AND p.week=%d)/(SELECT SUM(ad.%s*ST_AREA(g.geometry)) FROM active_devices ad, grille g WHERE ad."x-y"=g."x-y" AND ad.week=%d) as dev_act_night,
                    ad.%s*(SELECT SUM(p.filosofi*ST_AREA(g.geometry)) FROM total_population p, grille g WHERE p."x-y"=g."x-y" AND p.week=%d)/(SELECT SUM(ad.%s*ST_AREA(g.geometry)) FROM active_devices ad, grille g WHERE ad."x-y"=g."x-y" AND ad.week=%d) as dev_act_day,
                    d.%s*(SELECT SUM(p.filosofi*ST_AREA(g.geometry)) FROM total_population p, grille g WHERE p."x-y"=g."x-y" AND p.week=%d)/(SELECT SUM(d.%s*ST_AREA(g.geometry)) FROM total_devices d, grille g WHERE d."x-y"=g."x-y" AND d.week=%d) as dev_night,
                    d.%s*(SELECT SUM(p.filosofi*ST_AREA(g.geometry)) FROM total_population p, grille g WHERE p."x-y"=g."x-y" AND p.week=%d)/(SELECT SUM(d.%s*ST_AREA(g.geometry)) FROM total_devices d, grille g WHERE d."x-y"=g."x-y" AND d.week=%d) as dev_day,
                    jd.population as jrc_day,
                    jn.population as jrc_night,
					COALESCE(p.filosofi,0) as residents,
                    a."LIBTAAV" as segmentation
			  FROM total_population p, active_devices ad, total_devices d, jrc jd, jrc jn, grille g, area_attraction a
                WHERE p.week=%d AND jd.day_night='D' AND jn.day_night='N'
                AND jn.month=%d AND jd.month= %d
                AND d.week=%d
                AND ad.week=%d
                AND p."x-y"=jd."x-y" 
                AND p."x-y"=d."x-y" 
                AND ad."x-y"=d."x-y" 
			    AND jd."x-y"=jn."x-y"
                AND g."x-y"=p."x-y"
                AND ST_INTERSECTS(a.geometry, g.geometry))
        SELECT 	
                %s	,
                segmentation
            FROM data 
            GROUP BY segmentation"""

query_metrics = '1-0.5*SUM(ABS(%s-%s))/SUM(%s)'
l0 = []
l1 = []
l2 = []
l3 = []
hour_day = 15
hour_night = 3
month_jrc = 3

with engine.connect() as connection:
        for week in range(12, 14):
            for day in range(0, 5):  # Only Working Days.
                res = connection.execute(
                        query % (f'"{day}-{hour_night}"', 
                                f'"{day}-{hour_day}"', 
                                 f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                week,
                                week,
                                month_jrc,
                                month_jrc,
                                week,
                                week,
                                query_metrics % ('dev_day', 'jrc_day','jrc_day'))
                    ).fetchall()
                l0 += [list(x) + [day] + [week] + [query_metrics % ('dev_day', 'jrc_day','jrc_day')] for x in res]
                    
                res = connection.execute(
                        query % (f'"{day}-{hour_night}"', 
                                f'"{day}-{hour_day}"', 
                                 f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                week,
                                week,
                                month_jrc,
                                month_jrc,
                                week,
                                week,
                                query_metrics % ('dev_night', 'jrc_night','jrc_night'))
                    ).fetchall()
                l1 += [list(x) + [day] + [week] + [query_metrics % ('dev_night', 'jrc_night','jrc_night')] for x in res]
                
                res = connection.execute(
                        query % (f'"{day}-{hour_night}"', 
                                f'"{day}-{hour_day}"', 
                                 f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                week,
                                week,
                                month_jrc,
                                month_jrc,
                                week,
                                week,
                                query_metrics % ('dev_act_day', 'jrc_day','jrc_day'))
                    ).fetchall()
                l2 += [list(x) + [day] + [week] + [query_metrics % ('dev_act_day', 'jrc_day','jrc_day')] for x in res]
                res = connection.execute(
                        query % (f'"{day}-{hour_night}"', 
                                f'"{day}-{hour_day}"', 
                                 f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                week,
                                week,
                                month_jrc,
                                month_jrc,
                                week,
                                week,
                                query_metrics % ('dev_act_night', 'jrc_night','jrc_night'))
                    ).fetchall()
                l3 += [list(x) + [day] + [week] + [query_metrics % ('dev_act_night', 'jrc_night','jrc_night')] for x in res]

In [30]:
import pandas as pd
res = pd.concat([
    pd.DataFrame(
        l0,
        columns = [
            "value",
            "segmentation",
            "day",
            "week",
            "query"
        ]
    ),
pd.DataFrame(
        l1,
        columns = [
            "value",
            "segmentation",
            "day",
            "week",
            "query"
        ]
    ),
pd.DataFrame(
        l2,
        columns = [
            "value",
            "segmentation",
            "day",
            "week",
            "query"
        ]
    ),
pd.DataFrame(
        l3,
        columns = [
            "value",
            "segmentation",
            "day",
            "week",
            "query"
        ]
    )])

In [31]:
res

,value,segmentation,day,week,query
0,0.717234,Aire de 200 000 à moins de 700 000 habitants,0,12,1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)
1,0.653370,Aire de 50 000 à moins de 200 000 habitants,0,12,1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)
2,0.712581,Aire de 700 000 habitants ou plus (hors Paris),0,12,1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)
3,0.614320,Aire de moins de 50 000 habitants,0,12,1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)
4,0.666761,Aire de Paris,0,12,1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)
...,...,...,...,...,...
25,0.683066,Aire de 50 000 à moins de 200 000 habitants,4,12,1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jr...
26,0.737600,Aire de 700 000 habitants ou plus (hors Paris),4,12,1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jr...
27,0.661522,Aire de moins de 50 000 habitants,4,12,1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jr...
28,0.727968,Aire de Paris,4,12,1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jr...
29,0.644077,Commune hors attraction des pôles,4,12,1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jr...

In [32]:
res[~res['value'].isna()].groupby(['segmentation','query']).agg({"value":"mean"})

                                                                                                      value
segmentation                                   query
Aire de 200 000 à moins de 700 000 habitants   1-0.5*SUM(ABS(dev_act_day-jrc_day))/SUM(jrc_day)    0.712421
                                               1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jrc...  0.716562
                                               1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)        0.712042
                                               1-0.5*SUM(ABS(dev_night-jrc_night))/SUM(jrc_night)  0.712653
Aire de 50 000 à moins de 200 000 habitants    1-0.5*SUM(ABS(dev_act_day-jrc_day))/SUM(jrc_day)    0.665442
                                               1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jrc...  0.682650
                                               1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)        0.652229
                                               1-0.5*SUM(ABS(dev_night-jrc_night))/SUM(jrc_night)  0.672341
Aire de 700 000 habitants ou plus (hors Paris) 1-0.5*SUM(ABS(dev_act_day-jrc_day))/SUM(jrc_day)    0.696657
                                               1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jrc...  0.742017
                                               1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)        0.707426
                                               1-0.5*SUM(ABS(dev_night-jrc_night))/SUM(jrc_night)  0.741217
Aire de Paris                                  1-0.5*SUM(ABS(dev_act_day-jrc_day))/SUM(jrc_day)    0.655786
                                               1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jrc...  0.728158
                                               1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)        0.668157
                                               1-0.5*SUM(ABS(dev_night-jrc_night))/SUM(jrc_night)  0.729932
Aire de moins de 50 000 habitants              1-0.5*SUM(ABS(dev_act_day-jrc_day))/SUM(jrc_day)    0.620774
                                               1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jrc...  0.662484
                                               1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)        0.612125
                                               1-0.5*SUM(ABS(dev_night-jrc_night))/SUM(jrc_night)  0.657547
Commune hors attraction des pôles              1-0.5*SUM(ABS(dev_act_day-jrc_day))/SUM(jrc_day)    0.563839
                                               1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jrc...  0.644556
                                               1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)        0.538089
                                               1-0.5*SUM(ABS(dev_night-jrc_night))/SUM(jrc_night)  0.629597

\begin{table}[]
    \centering
    \begin{tabular}{llcccccc}  
 &   & \multicolumn{1}{c}{Residents}  & \multicolumn{2}{c}{ENACT}\\    
 \cline{3-3}
& &    & Day & Night \\
   
    \cline{4-5}\\
\multicolumn{2}{l}{\textit{Allocation Accuracy}} & \\
      &  Present at daytime (3 p.m.)  &  0.57  & 0.74 & . \\
      &  Present  at nighttime (3 a.m.) &  0.74 &  . & 0.79\\
      &  ENACT - Day  & 0.66 & 1 & . \\
      &  \quad \quad \quad \quad - Night & 0.71 & . & 1 \\
      & Rescaled active devices at daytime (3 p.m.) &  0.48 &  0.67 & . \\
      & Rescaled active devices at nighttime (3 a.m.) & 0.69 & . & 0.73 \\
      & Rescaled interpolated devices at daytime (3 p.m.) &  0.51 & 0.68  & . \\
      & Rescaled interpolated devices at nighttime (3 a.m.) & 0.69 & . & 0.73  \\
      \cline{3-5}
\multicolumn{2}{l}{\textit{Correlation}} & \\
      &  Present at daytime (3 p.m.)  &  0.56  & 0.75 & . \\
      &  Present  at nighttime (3 a.m.) &  0.83 &  . & 0.87\\
      &  ENACT - Day  & 0.77 & 1 & . \\
      &  \quad \quad \quad \quad - Night & 0.78 & . & 1 \\
      & Rescaled active devices at daytime (3 p.m.) & 0.45 & 0.66  & . \\
      & Rescaled active devices at nighttime (3 a.m.) & 0.73 & . & 0.78 \\
      & Rescaled interpolated devices at daytime (3 p.m.) & 0.46  & 0.66  & . \\
      & Rescaled interpolated devices at nighttime (3 a.m.) & 0.74 & . & 0.78 \\
      \cline{3-5}
\multicolumn{2}{l}{\textit{Rank Correlation}} & \\
      &  Present at daytime (3 p.m.)  &  0.73  & 0.89 & . \\
      &  Present  at nighttime (3 a.m.) &  0.75 &  . & 0.88\\
      &  ENACT - Day  & 0.78 & 1 & . \\
      &  \quad \quad \quad \quad - Night & 0.81 & . & 1 \\
      & Rescaled active devices at daytime (3 p.m.) & 0.73  & 0.89 & . \\
      & Rescaled active devices at nighttime (3 a.m.) & 0.75 & . & 0.88 \\
      & Rescaled interpolated devices at daytime (3 p.m.) &  0.73 & 0.89  & . \\
      & Rescaled interpolated devices at nighttime (3 a.m.) &  0.76 & . & 0.88 \\
        \hline \\
    %    \textit{Metrics:}  & \multicolumn{5}{c}{Allocation Accuracy}
    \end{tabular}
    \caption{Population Density Comparisons. {\footnotesize \textit{Note:} All densities are computed in our dissemination grid, using proportional area estimation for ENACT data and direct calculations for resident density from tax files. ENACT: March 2011, Present Population: 5 working days in March 2019, Resident Population: 2016. Rescaled devices estimates are estimated we obtain when omitting reweighting by residency and rescale, hour by hour, active device densities with a single scalar weight.} }
    \label{tab:comparison}
\end{table}


\begin{table}[]
    \centering
    \begin{tabular}{llcccccc}  
 &   & \multicolumn{1}{c}{Residents}  & \multicolumn{2}{c}{ENACT}\\    
 \cline{3-3}
& &    & Day & Night \\
   
    \cline{4-5}\\
\multicolumn{2}{l}{\textit{Paris Urban Area}} &  \\[+1.8ex]

      &  Present at daytime (3 p.m.)  &  0.42  & 0.70 & . \\
      &  Present  at nighttime (3 a.m.) & 0.77 &  . & 0.81 \\
            &  ENACT - Day  & 0.69 & 1 & . \\
      &  \quad \quad \quad \quad - Night & 0.70  & . & 1 \\[+1.8ex]
      \cline{3-5}
\multicolumn{3}{l}{\textit{Urban Area $\geq$ 700,000 inhabitants (but Paris)}}  \\[+1.8ex]

      &  Present at daytime (3 p.m.)  &  0.62  & 0.76 & . \\
      &  Present  at nighttime (3 a.m.) & 0.81 &  . & 0.84 \\
            &  ENACT - Day  & 0.75 & 1 & . \\
      &  \quad \quad \quad \quad - Night & 0.77 & . & 1 \\[+1.8ex]
      \cline{3-5}
\multicolumn{3}{l}{\textit{Urban Area  200,000-700,000 inhabitants}}  \\[+1.8ex]

      &  Present at daytime (3 p.m.)  &  0.74  & 0.76  & . \\
      &  Present  at nighttime (3 a.m.) &  0.86 &  . & 0.83 \\
            &  ENACT - Day  & 0.77 & 1 & . \\
      &  \quad \quad \quad \quad - Night & 0.79 & . & 1 \\[+1.8ex]
      \cline{3-5}
\multicolumn{3}{l}{\textit{Urban Area 50,000-200,000 inhabitants}}  \\[+1.8ex]

      &  Present at daytime (3 p.m.)  &  0.76  & 0.70 & . \\
      &  Present  at nighttime (3 a.m.) & 0.81  &  . & 0.76 \\
            &  ENACT - Day  & 0.75 & 1 & . \\
      &  \quad \quad \quad \quad - Night & 0.79 & . & 1 \\[+1.8ex]
      \cline{3-5}
\multicolumn{3}{l}{\textit{Urban Area $\leq$ 50,000 inhabitants}}  \\[+1.8ex]

      &  Present at daytime (3 p.m.)  &  0.69  & 0.65 & . \\
      &  Present  at nighttime (3 a.m.) & 0.73 &  . & 0.70 \\
            &  ENACT - Day  & 0.71 & 1 & . \\
      &  \quad \quad \quad \quad - Night & 0.73 & . & 1 \\[+1.8ex]
      \cline{3-5}
\multicolumn{3}{l}{\textit{Municipalities outside of cities attraction}}  \\[+1.8ex]

      &  Present at daytime (3 p.m.)  &  0.58  & 0.52 & . \\
      &  Present  at nighttime (3 a.m.) & 0.62  &  . & 0.59 \\
            &  ENACT - Day  &  0.69 & 1 & . \\
      &  \quad \quad \quad \quad - Night & 0.74 & . & 1 \\[+1.8ex]
    \textit{Metrics:}  & \multicolumn{4}{c}{Correlation}
    \end{tabular}
    \caption{Population Density Comparisons by Urban Area Type. {\footnotesize \textit{Note:} All densities are computed in our dissemination grid, using proportional area estimation for ENACT data and direct calculations for resident density from tax files. ENACT: March 2011, Present Population: March 2019 (5 working days), Resident Population: 2016.} }
    \label{tab:comparison}
\end{table}