## Recover and extend Table 3 "Population Density Comparisons" in Journal of Official Statistics submission

The `from mobitic_utils.metrics import get_summary_metrics` function recomputes all the metrics but can take a long time to run. In this notebook we perform examples of direct SQL queries computing a selection of metrics.

In [1]:
# Install package utils
import sys
!{sys.executable} -m pip install --user -q -q -e ../

In [3]:
from mobitic_utils.metrics import get_metrics_from_all_tables

In [4]:
#var_list = ['pop_day','pop_night','dev_day','dev_night','jrc_day','jrc_night']
var_list = ['dev_day','dev_night','dev_act_day','dev_act_night']
ref = 'residents'

In [5]:
import pandas as pd
res0 = pd.concat([get_metrics_from_all_tables('CORR(%s, %s)' % (var, ref ), "cor") for var in var_list])

In [6]:
res0[~res0['value'].isna()].groupby('query').agg({'value':'mean'})

                                   value
query
CORR(dev_act_day, residents)    0.440333
CORR(dev_act_night, residents)  0.722805
CORR(dev_day, residents)        0.452361
CORR(dev_night, residents)      0.726020

In [7]:
res0 = pd.concat([get_metrics_from_all_tables('CORR(%s, %s)' % ('dev_act_day', 'jrc_day'), "cor"),
                 get_metrics_from_all_tables('CORR(%s, %s)' % ('dev_act_night', 'jrc_night'), "cor") ,
                 get_metrics_from_all_tables('CORR(%s, %s)' % ('dev_day', 'jrc_day'), "cor"),
                 get_metrics_from_all_tables('CORR(%s, %s)' % ('dev_night', 'jrc_night'), "cor")])

In [8]:
res0[~res0['value'].isna()].groupby('query').agg({'value':'mean'})

                                   value
query
CORR(dev_act_day, jrc_day)      0.655480
CORR(dev_act_night, jrc_night)  0.776863
CORR(dev_day, jrc_day)          0.661670
CORR(dev_night, jrc_night)      0.780579

In [13]:
var_list = ['pop_day','pop_night','dev_day','dev_night','jrc_day','jrc_night']

In [14]:
res1 = pd.concat([pd.concat([get_metrics_from_all_tables('CORR(%s, %s)' % (var, ref ), "cor") for var in var_list]),
                 get_metrics_from_all_tables('CORR(%s, %s)' % ('pop_day', 'jrc_day'), "cor"),
                 get_metrics_from_all_tables('CORR(%s, %s)' % ('pop_night', 'jrc_night'), "cor") ,
                 get_metrics_from_all_tables('CORR(%s, %s)' % ('dev_day', 'jrc_day'), "cor"),
                 get_metrics_from_all_tables('CORR(%s, %s)' % ('dev_night', 'jrc_night'), "cor")])

In [15]:
res1[~res1['value'].isna()].groupby('query').agg({'value':'mean'})

                               value
query
CORR(dev_day, jrc_day)      0.661670
CORR(dev_day, residents)    0.452361
CORR(dev_night, jrc_night)  0.780579
CORR(dev_night, residents)  0.726020
CORR(jrc_day, residents)    0.756578
CORR(jrc_night, residents)  0.769100
CORR(pop_day, jrc_day)      0.751038
CORR(pop_day, residents)    0.547495
CORR(pop_night, jrc_night)  0.865502
CORR(pop_night, residents)  0.812371

In [16]:
res2 = pd.concat([pd.concat([get_metrics_from_all_tables('CORR(Rank_%s, Rank_%s)' % (var, ref ), "cor") for var in var_list]),
                 get_metrics_from_all_tables('CORR(Rank_%s, Rank_%s)' % ('pop_day', 'jrc_day'), "cor"),
                 get_metrics_from_all_tables('CORR(Rank_%s, Rank_%s)' % ('pop_night', 'jrc_night'), "cor") ,
                 get_metrics_from_all_tables('CORR(Rank_%s, Rank_%s)' % ('dev_day', 'jrc_day'), "cor"),
                 get_metrics_from_all_tables('CORR(Rank_%s, Rank_%s)' % ('dev_night', 'jrc_night'), "cor")])

In [17]:
res2[~res2['value'].isna()].groupby('query').agg({'value':'mean'})

                                         value
query
CORR(Rank_dev_day, Rank_jrc_day)      0.889676
CORR(Rank_dev_day, Rank_residents)    0.728960
CORR(Rank_dev_night, Rank_jrc_night)  0.879413
CORR(Rank_dev_night, Rank_residents)  0.755417
CORR(Rank_jrc_day, Rank_residents)    0.779963
CORR(Rank_jrc_night, Rank_residents)  0.810487
CORR(Rank_pop_day, Rank_jrc_day)      0.892699
CORR(Rank_pop_day, Rank_residents)    0.730266
CORR(Rank_pop_night, Rank_jrc_night)  0.879453
CORR(Rank_pop_night, Rank_residents)  0.749327

In [18]:
var_list = ['dev_day','dev_night']
res2 = pd.concat([pd.concat([get_metrics_from_all_tables('CORR(Rank_%s, Rank_%s)' % (var, ref ), "cor") for var in var_list]),
                 get_metrics_from_all_tables('CORR(Rank_%s, Rank_%s)' % ('dev_day', 'jrc_day'), "cor"),
                 get_metrics_from_all_tables('CORR(Rank_%s, Rank_%s)' % ('dev_night', 'jrc_night'), "cor")])

In [19]:
res2[~res2['value'].isna()].groupby('query').agg({'value':'mean'})

                                         value
query
CORR(Rank_dev_day, Rank_jrc_day)      0.889676
CORR(Rank_dev_day, Rank_residents)    0.728863
CORR(Rank_dev_night, Rank_jrc_night)  0.879413
CORR(Rank_dev_night, Rank_residents)  0.755019

In [33]:
var_list = ['pop_day','pop_night','dev_day','dev_night','jrc_day','jrc_night']

In [34]:
res3 = pd.concat([
        pd.concat([get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % (var, ref ,ref ), "alloc_accuracy") for var in var_list]),
        get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % ('pop_day', 'jrc_day' ,'jrc_day' ), "alloc_accuracy"),
        get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % ('pop_night', 'jrc_night','jrc_night' ), "alloc_accuracy"),
        get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % ('dev_day', 'jrc_day' ,'jrc_day' ), "alloc_accuracy"),
        get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % ('dev_night', 'jrc_night','jrc_night' ), "alloc_accuracy")
    ]
    )

In [35]:
res3[~res3['value'].isna()].groupby('query').agg({'value':'mean'})

                                                       value
query
1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)        0.677331
1-0.5*SUM(ABS(dev_day-residents))/SUM(residents)    0.506295
1-0.5*SUM(ABS(dev_night-jrc_night))/SUM(jrc_night)  0.728944
1-0.5*SUM(ABS(dev_night-residents))/SUM(residents)  0.689809
1-0.5*SUM(ABS(jrc_day-residents))/SUM(residents)    0.659372
1-0.5*SUM(ABS(jrc_night-residents))/SUM(residents)  0.710647
1-0.5*SUM(ABS(pop_day-jrc_day))/SUM(jrc_day)        0.738922
1-0.5*SUM(ABS(pop_day-residents))/SUM(residents)    0.571142
1-0.5*SUM(ABS(pop_night-jrc_night))/SUM(jrc_night)  0.786720
1-0.5*SUM(ABS(pop_night-residents))/SUM(residents)  0.737198

In [24]:
res3[res3['query']=='1-0.5*SUM(ABS(pop_day-residents))/SUM(residents)']

Empty DataFrame
Columns: [value, day, week, query]
Index: []

In [25]:
var_list = ['dev_day','dev_night','dev_act_day','dev_act_night']
res3 = pd.concat([
        pd.concat([get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % (var, ref ,ref ), "alloc_accuracy") for var in var_list]),
        get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % ('dev_act_day', 'jrc_day' ,'jrc_day' ), "alloc_accuracy"),
        get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % ('dev_act_night', 'jrc_night','jrc_night' ), "alloc_accuracy"),
        get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % ('dev_day', 'jrc_day' ,'jrc_day' ), "alloc_accuracy"),
        get_metrics_from_all_tables('1-0.5*SUM(ABS(%s-%s))/SUM(%s)' % ('dev_night', 'jrc_night','jrc_night' ), "alloc_accuracy")
    ]
    )

In [26]:
res3[~res3['value'].isna()].groupby('query').agg({'value':'mean'})

                                                       value
query
1-0.5*SUM(ABS(dev_act_day-jrc_day))/SUM(jrc_day)    0.664176
1-0.5*SUM(ABS(dev_act_day-residents))/SUM(resid...  0.474001
1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jrc...  0.727212
1-0.5*SUM(ABS(dev_act_night-residents))/SUM(res...  0.688119
1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)        0.677331
1-0.5*SUM(ABS(dev_day-residents))/SUM(residents)    0.506295
1-0.5*SUM(ABS(dev_night-jrc_night))/SUM(jrc_night)  0.728944
1-0.5*SUM(ABS(dev_night-residents))/SUM(residents)  0.689809

# Comparaison par aire d'attraction des villes

In [27]:
from mobitic_utils.metrics import get_metrics

In [28]:
# Dynamic population against filosofi resident
metrics_by_aav = get_metrics()

In [29]:
metrics_by_aav[metrics_by_aav['date'].apply(lambda x : x.hour == 3) & metrics_by_aav['date'].apply(lambda x : x.day in [18,19,20,21,22]) ].groupby('segmentation')['correlation'].mean()

segmentation
Aire de 200 000 à moins de 700 000 habitants      0.856447
Aire de 50 000 à moins de 200 000 habitants       0.793588
Aire de 700 000 habitants ou plus (hors Paris)    0.803641
Aire de Paris                                     0.751752
Aire de moins de 50 000 habitants                 0.734583
Commune hors attraction des pôles                 0.615920
Name: correlation, dtype: float64

In [30]:
metrics_by_aav[metrics_by_aav['date'].apply(lambda x : x.hour == 15)  & metrics_by_aav['date'].apply(lambda x : x.day in [18,19,20,21,22]) ].groupby('segmentation')['correlation'].mean()

segmentation
Aire de 200 000 à moins de 700 000 habitants      0.737140
Aire de 50 000 à moins de 200 000 habitants       0.734847
Aire de 700 000 habitants ou plus (hors Paris)    0.612293
Aire de Paris                                     0.410543
Aire de moins de 50 000 habitants                 0.697909
Commune hors attraction des pôles                 0.580275
Name: correlation, dtype: float64

In [31]:
# Dynamic population against ENACT JRC
from mobitic_utils.metrics import get_metrics_JRC
metrics_by_aav_jrc = get_metrics_JRC()

In [32]:
metrics_by_aav_jrc.groupby('area_attraction').agg({'correlation_D':'mean', 'correlation_N':'mean','correlation_D_JRC_RES': 'mean', 'correlation_N_JRC_RES':'mean'})

,correlation_D,correlation_N,correlation_D_JRC_RES,correlation_N_JRC_RES
area_attraction,,,,
Aire de 200 000 à moins de 700 000 habitants,0.761989,0.831977,0.772277,0.791899
Aire de 50 000 à moins de 200 000 habitants,0.698845,0.757256,0.748907,0.789169
Aire de 700 000 habitants ou plus (hors Paris),0.757859,0.844587,0.743507,0.765209
Aire de Paris,0.701073,0.811885,0.672428,0.685169
Aire de moins de 50 000 habitants,0.654722,0.703414,0.712509,0.729326
Commune hors attraction des pôles,0.522468,0.592844,0.684611,0.736389

# Direct SQL queries

In [36]:
from mobitic_utils.db import engine
with engine.connect() as connection:
        res = connection.execute("SELECT SUM(p.population) FROM filosofi p").fetchall()

In [37]:
res

[(208126882.4584961,)]

In [40]:
query = """WITH data as (SELECT p.%s as pop_night,
                    p.%s as pop_day,
                    d.%s*(SELECT SUM(p.filosofi*ST_AREA(g.geometry)) FROM total_population p, grille g WHERE p."x-y"=g."x-y" AND p.week=%d)/(SELECT SUM(d.%s*ST_AREA(g.geometry)) FROM active_devices d, grille g WHERE d."x-y"=g."x-y" AND d.week=%d)  as dev_night,
                    d.%s*(SELECT SUM(p.filosofi*ST_AREA(g.geometry)) FROM total_population p, grille g WHERE p."x-y"=g."x-y" AND p.week=%d)/(SELECT SUM(d.%s*ST_AREA(g.geometry)) FROM active_devices d, grille g WHERE d."x-y"=g."x-y" AND d.week=%d) as dev_day,
                    jd.population as jrc_day,
                    jn.population as jrc_night,
                    COALESCE(p.filosofi,0) as residents
              FROM total_population p, active_devices d, jrc jd, jrc jn
                WHERE p.week=%d AND jd.day_night='D' AND jn.day_night='N'
                AND jn.month=%d AND jd.month= %d
                AND d.week=%d
                AND p."x-y"=jd."x-y" 
                AND p."x-y"=d."x-y" 
                AND jd."x-y"=jn."x-y"
                )
        SELECT
                %s
            FROM data """

query_metrics = '1-0.5*SUM(ABS(%s-%s))/SUM(%s)'
l = []
hour_day = 15
hour_night = 3
month_jrc = 3
with engine.connect() as connection:
    for week in range(12, 14):
        for day in range(0, 5):  # Only Working Days.
                res = connection.execute(
                    query % (f'"{day}-{hour_night}"', 
                            f'"{day}-{hour_day}"', 
                             f'"{day}-{hour_night}"', 
                             week,
                             f'"{day}-{hour_night}"', 
                             week,
                            f'"{day}-{hour_day}"', 
                             week,
                            f'"{day}-{hour_day}"', 
                            week,
                            week,
                            month_jrc,
                            month_jrc,
                            week,
                            query_metrics % ('dev_night', 'residents','residents'))
                ).fetchall()
                l += [list(x) + [day] + [week] + [query_metrics] for x in res]

res = pd.DataFrame(
        l,
        columns = [
            "value",
            "day",
            "week",
            "query"
        ]
    )

In [41]:
res[~res['value'].isna()].agg({"value":"mean"})

value    0.688119
dtype: float64

In [42]:
query = """WITH data as (SELECT d.%s*(SELECT SUM(p.filosofi*ST_AREA(g.geometry)) FROM total_population p, grille g WHERE p."x-y"=g."x-y" AND p.week=%d)/(SELECT SUM(d.%s*ST_AREA(g.geometry)) FROM active_devices d, grille g WHERE d."x-y"=g."x-y" AND d.week=%d)  as dev_night,
                    d.%s*(SELECT SUM(p.filosofi*ST_AREA(g.geometry)) FROM total_population p, grille g WHERE p."x-y"=g."x-y" AND p.week=%d)/(SELECT SUM(d.%s*ST_AREA(g.geometry)) FROM active_devices d, grille g WHERE d."x-y"=g."x-y" AND d.week=%d) as dev_day,
                    jd.population as jrc_day,
                    jn.population as jrc_night,
                    COALESCE(p.filosofi,0) as residents,
                    ROW_NUMBER() OVER (ORDER BY d.%s DESC) AS Rank_dev_night,
                    ROW_NUMBER() OVER (ORDER BY d.%s DESC) AS Rank_dev_day,
                    ROW_NUMBER() OVER (ORDER BY COALESCE(p.filosofi,0) DESC) AS Rank_residents,
                    ROW_NUMBER() OVER (ORDER BY jd.population DESC) AS Rank_jrc_day,
                    ROW_NUMBER() OVER (ORDER BY jn.population DESC) AS Rank_jrc_night
              FROM total_population p, active_devices d, jrc jd, jrc jn
                WHERE p.week=%d AND jd.day_night='D' AND jn.day_night='N'
                AND jn.month=%d AND jd.month= %d
                AND d.week=%d
                AND p."x-y"=jd."x-y" 
                AND p."x-y"=d."x-y" 
                AND jd."x-y"=jn."x-y"
                )
        SELECT
                %s
            FROM data """

query_metrics = 'CORR(%s,%s)'
l = []
hour_day = 15
hour_night = 3
month_jrc = 3
with engine.connect() as connection:
        for week in range(12, 14):
            for day in range(0, 5):  # Only Working Days.
                    res = connection.execute(
                        query % (f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                week,
                                 f'"{day}-{hour_night}"',
                                f'"{day}-{hour_day}"',  
                                week,
                                month_jrc,
                                month_jrc,
                                week,
                                query_metrics % ('dev_day', 'jrc_day'))
                    ).fetchall()
                    l += [list(x) + [day] + [week] + [query_metrics] for x in res]

res = pd.DataFrame(
        l,
        columns = [
            "value",
            "day",
            "week",
            "query"
        ]
    )

In [43]:
res[~res['value'].isna()].agg({"value":"mean"})

value    0.65548
dtype: float64

Question: l'interpolation a-t-elle aussi si peu d'effet suivant le type d'aire urbaine?

In [44]:
query = """WITH data as (SELECT p.%s as pop_night,
                p.%s as pop_day,
                ad.%s*(SELECT SUM(p.filosofi*ST_AREA(g.geometry)) FROM total_population p, grille g WHERE p."x-y"=g."x-y" AND p.week=%d)/(SELECT SUM(ad.%s*ST_AREA(g.geometry)) FROM active_devices ad, grille g WHERE ad."x-y"=g."x-y" AND ad.week=%d) as dev_act_night,
                ad.%s*(SELECT SUM(p.filosofi*ST_AREA(g.geometry)) FROM total_population p, grille g WHERE p."x-y"=g."x-y" AND p.week=%d)/(SELECT SUM(ad.%s*ST_AREA(g.geometry)) FROM active_devices ad, grille g WHERE ad."x-y"=g."x-y" AND ad.week=%d) as dev_act_day,
                d.%s*(SELECT SUM(p.filosofi*ST_AREA(g.geometry)) FROM total_population p, grille g WHERE p."x-y"=g."x-y" AND p.week=%d)/(SELECT SUM(d.%s*ST_AREA(g.geometry)) FROM total_devices d, grille g WHERE d."x-y"=g."x-y" AND d.week=%d) as dev_night,
                d.%s*(SELECT SUM(p.filosofi*ST_AREA(g.geometry)) FROM total_population p, grille g WHERE p."x-y"=g."x-y" AND p.week=%d)/(SELECT SUM(d.%s*ST_AREA(g.geometry)) FROM total_devices d, grille g WHERE d."x-y"=g."x-y" AND d.week=%d) as dev_day,
                jd.population as jrc_day,
                jn.population as jrc_night,
                COALESCE(p.filosofi,0) as residents,
                a."LIBTAAV" as segmentation
          FROM total_population p, active_devices ad, total_devices d, jrc jd, jrc jn, grille g, area_attraction a
            WHERE p.week=%d AND jd.day_night='D' AND jn.day_night='N'
            AND jn.month=%d AND jd.month= %d
            AND d.week=%d
            AND ad.week=%d
            AND p."x-y"=jd."x-y" 
            AND p."x-y"=d."x-y" 
            AND ad."x-y"=d."x-y" 
            AND jd."x-y"=jn."x-y"
            AND g."x-y"=p."x-y"
            AND ST_INTERSECTS(a.geometry, g.geometry))
    SELECT
            %s,
            segmentation
        FROM data 
        GROUP BY segmentation"""

query_metrics = '1-0.5*SUM(ABS(%s-%s))/SUM(%s)'
l0 = []
l1 = []
l2 = []
l3 = []
hour_day = 15
hour_night = 3
month_jrc = 3

with engine.connect() as connection:
        for week in range(12, 14):
            for day in range(0, 5):  # Only Working Days.
                res = connection.execute(
                        query % (f'"{day}-{hour_night}"', 
                                f'"{day}-{hour_day}"', 
                                 f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                week,
                                week,
                                month_jrc,
                                month_jrc,
                                week,
                                week,
                                query_metrics % ('dev_day', 'jrc_day','jrc_day'))
                    ).fetchall()
                l0 += [list(x) + [day] + [week] + [query_metrics % ('dev_day', 'jrc_day','jrc_day')] for x in res]
                    
                res = connection.execute(
                        query % (f'"{day}-{hour_night}"', 
                                f'"{day}-{hour_day}"', 
                                 f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                week,
                                week,
                                month_jrc,
                                month_jrc,
                                week,
                                week,
                                query_metrics % ('dev_night', 'jrc_night','jrc_night'))
                    ).fetchall()
                l1 += [list(x) + [day] + [week] + [query_metrics % ('dev_night', 'jrc_night','jrc_night')] for x in res]
                
                res = connection.execute(
                        query % (f'"{day}-{hour_night}"', 
                                f'"{day}-{hour_day}"', 
                                 f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                week,
                                week,
                                month_jrc,
                                month_jrc,
                                week,
                                week,
                                query_metrics % ('dev_act_day', 'jrc_day','jrc_day'))
                    ).fetchall()
                l2 += [list(x) + [day] + [week] + [query_metrics % ('dev_act_day', 'jrc_day','jrc_day')] for x in res]
                res = connection.execute(
                        query % (f'"{day}-{hour_night}"', 
                                f'"{day}-{hour_day}"', 
                                 f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                 f'"{day}-{hour_night}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                 week,
                                f'"{day}-{hour_day}"', 
                                week,
                                week,
                                month_jrc,
                                month_jrc,
                                week,
                                week,
                                query_metrics % ('dev_act_night', 'jrc_night','jrc_night'))
                    ).fetchall()
                l3 += [list(x) + [day] + [week] + [query_metrics % ('dev_act_night', 'jrc_night','jrc_night')] for x in res]

In [45]:
import pandas as pd
res = pd.concat([
    pd.DataFrame(
        l0,
        columns = [
            "value",
            "segmentation",
            "day",
            "week",
            "query"
        ]
    ),
pd.DataFrame(
        l1,
        columns = [
            "value",
            "segmentation",
            "day",
            "week",
            "query"
        ]
    ),
pd.DataFrame(
        l2,
        columns = [
            "value",
            "segmentation",
            "day",
            "week",
            "query"
        ]
    ),
pd.DataFrame(
        l3,
        columns = [
            "value",
            "segmentation",
            "day",
            "week",
            "query"
        ]
    )])

In [46]:
res

,value,segmentation,day,week,query
0,0.717394,Aire de 200 000 à moins de 700 000 habitants,0,12,1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)
1,0.653090,Aire de 50 000 à moins de 200 000 habitants,0,12,1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)
2,0.711842,Aire de 700 000 habitants ou plus (hors Paris),0,12,1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)
3,0.613443,Aire de moins de 50 000 habitants,0,12,1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)
4,0.666115,Aire de Paris,0,12,1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)
...,...,...,...,...,...
25,0.682803,Aire de 50 000 à moins de 200 000 habitants,4,12,1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jr...
26,0.737243,Aire de 700 000 habitants ou plus (hors Paris),4,12,1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jr...
27,0.660794,Aire de moins de 50 000 habitants,4,12,1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jr...
28,0.727443,Aire de Paris,4,12,1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jr...
29,0.642408,Commune hors attraction des pôles,4,12,1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jr...

In [47]:
res[~res['value'].isna()].groupby(['segmentation','query']).agg({"value":"mean"})

                                                                                                      value
segmentation                                   query
Aire de 200 000 à moins de 700 000 habitants   1-0.5*SUM(ABS(dev_act_day-jrc_day))/SUM(jrc_day)    0.712532
                                               1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jrc...  0.716841
                                               1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)        0.712151
                                               1-0.5*SUM(ABS(dev_night-jrc_night))/SUM(jrc_night)  0.712988
Aire de 50 000 à moins de 200 000 habitants    1-0.5*SUM(ABS(dev_act_day-jrc_day))/SUM(jrc_day)    0.665298
                                               1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jrc...  0.682389
                                               1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)        0.651944
                                               1-0.5*SUM(ABS(dev_night-jrc_night))/SUM(jrc_night)  0.672050
Aire de 700 000 habitants ou plus (hors Paris) 1-0.5*SUM(ABS(dev_act_day-jrc_day))/SUM(jrc_day)    0.695717
                                               1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jrc...  0.741720
                                               1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)        0.706668
                                               1-0.5*SUM(ABS(dev_night-jrc_night))/SUM(jrc_night)  0.741012
Aire de Paris                                  1-0.5*SUM(ABS(dev_act_day-jrc_day))/SUM(jrc_day)    0.654738
                                               1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jrc...  0.727635
                                               1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)        0.667481
                                               1-0.5*SUM(ABS(dev_night-jrc_night))/SUM(jrc_night)  0.729527
Aire de moins de 50 000 habitants              1-0.5*SUM(ABS(dev_act_day-jrc_day))/SUM(jrc_day)    0.619981
                                               1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jrc...  0.661770
                                               1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)        0.611223
                                               1-0.5*SUM(ABS(dev_night-jrc_night))/SUM(jrc_night)  0.656792
Commune hors attraction des pôles              1-0.5*SUM(ABS(dev_act_day-jrc_day))/SUM(jrc_day)    0.561747
                                               1-0.5*SUM(ABS(dev_act_night-jrc_night))/SUM(jrc...  0.642889
                                               1-0.5*SUM(ABS(dev_day-jrc_day))/SUM(jrc_day)        0.535719
                                               1-0.5*SUM(ABS(dev_night-jrc_night))/SUM(jrc_night)  0.627549